body {
  font-family: "Poppins", serif;
  font-size: 18px;
  line-height: 26px;
  color: #2e2e2e;
}

::-webkit-selection {
  color: #ffffff;
  background: #28bbf8;
}

::-moz-selection {
  color: #ffffff;
  background: #28bbf8;
}

::selection {
  color: #ffffff;
  background: #28bbf8;
}
a, .im-animation {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

figure.fh5co-with-caption {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
figure.fh5co-with-caption img {
  margin-bottom: 0 !important;
}
figure.fh5co-with-caption figcaption {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 20px;
  color: #7b7b7b;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
}

h1, .h1 {
  font-size: 50px;
  line-height: 64px;
}

h2, .h2 {
  font-size: 35px;
  line-height: 50px;
}

h3, .h3 {
  font-size: 30px;
  line-height: 40px;
}

h4, .h4 {
  font-size: 25px;
  line-height: 35px;
}

h5, .h5 {
  font-size: 20px;
  line-height: 28px;
}

h6, .h6 {
  font-size: 18px;
  line-height: 26px;
}

ul, ol {
  padding-left: 0;
  line-height: 1.5;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

p, img {
  margin: 0 0 20px 0;
}

ul, ol {
  padding-left: 0;
  line-height: 1.5;
  list-style: none;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;  
  list-style: none;
}
ul li, ol li {  
  list-style: none;
}
section {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
}
a {
  color: #2e2e2e;
}
a:hover,
a:focus {
  color: #000;
}
ul.list-inline > li {
  display: inline-block;
}
.im-full-width {
  width: 100% !important;
}
.white-text,
.white-text p,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text ul,
.white-text li,
.white-text span {
  color: #fff;
}
.im-left {
  text-align: left;
}
.im-right {
  text-align: right;
}
.im-center {
  text-align: center;
}
.big-padding {
  padding-top: 100px;
  padding-bottom: 80px;
}
.small-padding {
  padding-top: 50px;
  padding-bottom: 30px;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0  !important;
}
.im-pink,
.im-list-pink li:before  {
  color: rgba(255,102,255,1);
}
.im-lblue,
.im-list-lblue li:before  {
  color: rgba(0,176,240,1);
}
.im-blue,
.im-list-blue li:before  {
  color: rgba(0,32,96,1);
}
.bg-pink {
  background-color: rgba(255,102,255,1);
}
.bg-lblue {
  background-color: rgba(0,176,240,1);
}
.bg-blue {
  background-color: rgba(0,32,96,1);
}
.im-btn {
  text-align: center;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 0;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.full-btn {
  width: 100%;
}
.white-btn {
  background-color: transparent;
  color: #fff;
}
.white-btn:hover,
.white-btn:focus {
  background-color: rgba(255,255,255,0.8);
  border-color: rgba(255,255,255,1);
}
.bg-pink .white-btn:hover,
.bg-pink .white-btn:focus {
  color: rgba(255,102,255,1);
}
.bg-lblue .white-btn:hover,
.bg-lblue .white-btn:focus {
  color: rgba(0,176,240,1);
}
.bg-blue .white-btn:hover,
.bg-blue .white-btn:focus {
  color: rgba(0,32,96,1);
}
.pink-btn {
  background-color: rgba(255,102,255,1);
  color: #fff;
  border-color: rgba(255,102,255,1);
}
.pink-btn:hover,
.pink-btn:focus {
  background-color: rgba(255,102,255,0.8);
  color: #fff;
}
.pink-btn.im-border-btn:hover,
.pink-btn.im-border-btn:focus {
  background-color: transparent;
  color: rgba(255,102,255,1);
  border-color: rgba(255,102,255,1);
}
.lblue-btn {
  background-color: rgba(0,176,240,1);
  color: #fff;
  border-color: rgba(0,176,240,1);
}
.lblue-btn:hover,
.lblue-btn:focus {
  background-color: rgba(0,176,240,0.8);
  color: #fff;
}
.lblue-btn.im-border-btn:hover,
.lblue-btn.im-border-btn:focus {
  background-color: transparent;
  color: rgba(0,176,240,1);
  border-color: rgba(0,176,240,1);
}
.blue-btn {
  background-color: rgba(0,32,96,1);
  color: #fff;
  border-color: rgba(0,32,96,1);
}
.blue-btn:hover,
.blue-btn:focus {
  background-color: rgba(0,32,96,0.8);
  color: #fff;
}
.blue-btn.im-border-btn:hover,
.blue-btn.im-border-btn:focus {
  background-color: transparent;
  color: rgba(0,32,96,1);
  border-color: rgba(0,32,96,1);
}
.parallax-window {
  min-height: 1px;
  background: transparent;
}
ul.im-list {
  padding-left: 20px;
  margin-bottom: 20px;
}
ol.im-list-num {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 20px;
}
ol.im-list-num li {
  list-style: decimal;
}
ul.im-list li {
  padding-left: 1.3em;
}
ul.im-list li:before {
  content: "\f10c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
ul.im-list ul li:before{
   content: "\f111"; /* FontAwesome Unicode */
}
/*HEADER*/
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: "Fredoka One";
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar-custom-fixed {
  position: fixed;
  background-color: rgba(255,255,255,.9) !important;
}
.navbar-custom .navbar-brand {
  font-weight: 400;
  font-size: 22px;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.header-btn a {
  background-color: #ff66ff;
  color: #fff !important;
}
.header-btn a:hover,
.header-btn a:focus {
  background-color: rgba(255,102,255,.8) !important;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: rgba(0, 32, 96, 1);
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(0, 32, 96, 0.8);
  }
  .navbar-custom .nav li a {
    color: rgba(0, 32, 96, 1);
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(0, 32, 96, 0.8);
  }
  .navbar-custom .nav li ul.dropdown-menu a {
    color: #333333;
  }
  .navbar-custom .nav li ul.dropdown-menu a:hover,
  .navbar-custom .nav li ul.dropdown-menu a:focus {
    color: #0085A1;
  }
  .navbar-custom-fixed {

  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/*SIDE NAVIGATION*/
#MainContent,
.MainContentSection {
  float: left;
  width: 100%;
  position: relative;
  height: auto;
}
#im-SideNavigation{
  position: fixed;
  right: -275px;
  top: 50%;
  width: 320px;
  z-index: 99;
  font-size: 14px;
}
#im-SideNavigation ul li.active a i,
#im-SideNavigation ul li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#im-SideNavigation ul ul {
  padding-left: 0;
}
#im-SideNavigation ul li {  
  background-color: rgba(0,176,240, .9);
  width: 100%;
  border: 1px solid #fff;
  margin-bottom: 2px; 
  -ms-transform: translate(0, 0); /* IE 9 */
  -webkit-transform: translate(0, 0); /* Safari */
  transform: translate(0, 0);
  float: left;
}
#im-SideNavigation > ul > div {
  -ms-transform: translate(10px, 0); /* IE 9 */
  -webkit-transform: translate(10px, 0); /* Safari */
  transform: translate(10px, 0);
  display: none;
}
#im-SideNavigation > ul > div.im-show {
  display: block;
}
#im-SideNavigation ul li.active {
  background-color: rgba(255,102,255,.9);  
}
#im-SideNavigation ul li:hover {
  -ms-transform: translate(-275px, 0);
  -webkit-transform: translate(-275px, 0);
  transform: translate(-275px, 0);
  background-color: rgba(255,102,255,.9);
}

#im-SideNavigation > div ul li.active a i,
#im-SideNavigation > div ul li:hover a i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#im-SideNavigation ul li a{
  line-height: 35px;
  color: #fff;
  float: left;
  width: 100%;
}
#im-SideNavigation ul li a span {
  padding: 0 15px;
}
#im-SideNavigation ul li a i{
    width: 35px;
    text-align: center;
    /*border: 1px solid #fff;*/
    line-height: 33px;
    margin-top: 0;
    font-size: 25px;    
    float: left;
}
/*MAIN CONTENT SECTIONS*/
.MainContentSection,
.im-content-section {
  overflow: hidden;
  border-bottom: 2px solid #fff;
}
.MainContentSection > div,
.im-content-section > div {
  padding-top: 20px;
  padding-bottom: 20px;  
}

.MainContentSection h2.expandable-title,
.im-content-section h3.expandable-title {
  margin-bottom: 0;
  float: left;
  margin-right: 20px;
  line-height: 50px;
}
.im-accordion,
.im-accordion-2 {
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
}
.im-accordion:before,
.im-accordion:after,
.im-accordion-2:before,
.im-accordion-2:after {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  font-size: 40px;
  text-align: center;
  line-height: 47px;
  cursor: pointer;
}
.im-accordion-2:before,
.im-accordion-2:after {  
  color: rgba(255,102,255,1);
  border-color: rgba(0,176,240,1);
}
.im-accordion:hover:before,
.im-accordion:hover:after,
.im-open .im-accordion:before,
.im-open .im-accordion:after {
  background-color: rgba(0,176,240,1);
}
.im-accordion-2:hover:before,
.im-accordion-2:hover:after,
.im-open-2 .im-accordion-2:before,
.im-open-2 .im-accordion-2:after {
  background-color: rgba(255,102,255,1);
  color: #fff;
}
.im-accordion:before,
.im-accordion-2:before {
  content: '+';
}
.im-accordion:after,
.im-accordion-2:after {
  content: '-';
  display: none;
}
.im-open .im-accordion:before,
.im-open-2 .im-accordion-2:before {
  display: none;
}
.im-open .im-accordion:after,
.im-open-2 .im-accordion-2:after {
  display: block;
}
.im-expand,
.im-expand-2 {
  display: none;
}
.im-open .im-expand,
.im-open-2 .im-expand-2 {
  display: block;
}
.section-title {
  border: 3px solid rgba(0,176,240,1);
}
/*BANNER TITLE*/
#BannerTitle {
  margin-bottom: 50px;
}
#BannerTitle .parallax-window  {
  min-height: 300px;
}
.nav-separator{
  width: 100%;
  position: relative;
  background: #fff;
  height: 62px;
}
#BannerTitle .title-layout {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color:  #f9f9f9
}
/*FORM*/
label {
  color: #002060;
}
label span {
  font-weight: 700;
  color: #ff66ff;
}
#form-brochure label{
  width: 100%;
  font-family: "Poppins", serif;
  font-weight: 400;
}
label input[type=text], 
label input[type=email] {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 40px;
  height: 40px;
  outline: 0 !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #002060;
  margin-bottom: 10px;
  width: 100%;
  font-family: "Poppins", serif;
  font-weight: 400;
}
label input[type=text]:hover, 
label input[type=email]:hover,
label input[type=text]:focus, 
label input[type=email]:focus{
  border-bottom: 2px solid #ff66ff;
}
label input {
  color: #00b0f0;
}
.search {
    width: 100%;
    position: relative;
    float: left;
}
.search input {
    width: 200px;
    float: left;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 45px;
    height: 45px;
    border: 2px solid #ff66ff;
    outline: 0 !important;
    border-radius: 0;
}
.search button{
  float: left;
  text-transform: uppercase;
}
/*POPUP LOGIN*/
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-top: 6px;
  margin-left: 20px;
}
.form-control {
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding: 0 15px;
    border: 2px solid #00b0f0;
    outline: 0 !important;
    border-radius: 0;
}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 40px;
  margin    : 0;
  padding   : 0;
  font-size : 20px;
  opacity   : 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -40px;
  line-height  : 24px;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin           : 8px 12px 2px 8px;
  border           : 2px solid rgb(0,176,240);
  border-radius    : 0;
  background       : rgb(255,255,255);
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
  vertical-align   : bottom;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
}
input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 24px;
  color       : rgb(255,102,255);
  font-size   : 30px;
  line-height : 16px;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(255,102,255);
  font-weight : bold;
}
input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 12px;
  height           : 12px;
  margin           : 2px;
  border           : 1px solid rgb255,102,255);
  border-radius    : 2px;
  background       : rgb(255,102,255);
  background-image :    -moz-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :     -ms-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :      -o-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image : -webkit-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :         linear-gradient(rgb255,102,255),rgb255,102,255));
}
input[type=checkbox]:not(old) + label.im-label-sm,
input[type=radio ]:not(old) + label.im-label-sm {
    display: inline-block;
    margin-left: 0px;
    line-height: 10px;
}
.im-label-sm {
  font-size: 14px;
  line-height: 1.3;
}
/*BLOG*/
#blog-grid {
  width: 73%;
  float: left;
  padding-right: 30px;
}
#blog-sidebar {
  width: 27%;
  float: left;
}
#blog-grid article {
  position: relative;
  width: 100%;
  background: #efefef;
  min-height: 400px;
  margin-bottom: 30px;
}
article .bolg-image-container {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
}
article .blog-image {
  width: 100%;
  position: relative;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
 -ms-transform: scale(1); /* IE 9 */
 -webkit-transform: scale(1); /* Safari */
  transform: scale(1);
}
article .blog-image:hover {
  -ms-transform: scale(1.2); /* IE 9 */
 -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}
article .blog-image:after,
article .blog-expert-content:after,
.blog-widget:after,
#blog-info:after {
  content: '';
  width: 70%;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin:auto;
  bottom:0;  
  background: rgba(255,102,255,1);
}
article .blog-image:before,
article .blog-expert-content:before,
.blog-widget:before,
#blog-info:before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin:auto;
  bottom:0;
  background: rgba(0,176,240,1);
}
article .blog-expert-content {
  padding: 30px 15px 0 15px;
}
article .blog-expert-content .blog-expert {
  font-size: 15px;
}
article .blog-expert-category {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 5px 10px;
}
.blog-widget {
  width: 100%;
  padding: 15px;
  background: #efefef;
  margin-bottom: 30px;
  position: relative;
}
.blog-widget .widget-title {
  position: relative;
}
.blog-widget .widget-title h4{
  margin-bottom: 30px;
}
.blog-widget .widget-title:before {
  content: '';
  width: 60px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom:-10px;  
  background: rgba(255,102,255,1);
}
.tag-container ul li {
  display: inline-block;
}
.tag-btn {
  margin-bottom: 5px;
  font-size: 12px;
  padding: 5px 10px;
}
.featured-image {
  padding-top: 30px;
}
.featured-image img {
  max-width: 100%;
  width: 100%;
}
#blog-info {
  padding: 15px 20px 10px 15px;
  background: #efefef;
  margin:30px auto;
  position: relative;
  width: 100%;
}
#related-posts article {
  margin-bottom: 30px;
}
article .overlay-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  text-align: center;
  margin:auto;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
 background: rgba(0,0,0,.8);
 display: none;
}
article .overlay-link h4 {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
article:hover .overlay-link{
  display: block;
}
/*FOOTER*/
footer {
  background-color: #f9f9f9;
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
#footer-bottom {
  background-color: #efefef;
  padding: 30px 0;
  color: #00b0f0;

}
