/*GLOBAL SETTINGS*/
@font-face {
    font-family: CircularStd-Book;
    src: url(../fonts/CircularStd-Book.otf);
    font-style: normal
}
@font-face {
    font-family: CircularStd-Book;
    src: url(../fonts/CircularStd-Bold.otf);
    font-weight: 700;
    font-style: normal
}
* {
    box-sizing: border-box
}
body {
  font-family: CircularStd-Book, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #2e2e2e;
}

::-webkit-selection {
  color: #ffffff;
  background: #28bbf8;
}

::-moz-selection {
  color: #ffffff;
  background: #28bbf8;
}

::selection {
  color: #ffffff;
  background: #28bbf8;
}
a, .im-animation {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}
ul, ol {
  padding-left: 0;
  line-height: 1.5;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

p, img {
  margin: 0 0 20px 0;
}

ul, ol {
  padding-left: 0;
  line-height: 1.5;
  list-style: none;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;  
  list-style: none;
}
ul li, ol li {  
  list-style: none;
}
ul.list-inline > li {
  display: inline-block;
}
ul.im-list {
  padding-left: 20px;
  margin-bottom: 20px;
}
ol.im-list-num {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 20px;
}
ol.im-list-num li {
  list-style: decimal;
}
ul.im-list li {
  padding-left: 1.3em;
}
ul.im-list li:before {
  content: "\f10c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
ul.im-list ul li:before{
   content: "\f111"; /* FontAwesome Unicode */
}
#back-to-top,
#next-section {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  font-size: 25px;
  border: 2px solid;
  background-color: rgba(0,176,240,0.7);
  color: #fff;
  border-color: rgba(0,176,240,1);
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 1;
}
#next-section {
  position: absolute;
  z-index: 1;
  background-color: rgba(255,255,255,1);
  color: #000;
  border-color: rgba(0,0,0,1);
}
#back-to-top:hover,
#next-section:hover {
  opacity: 0.7 !important;
}
.im-hide {
  display: none !important;
}
/*POPUP LOGIN*/
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-top: 6px;
  margin-left: 20px;
}
.form-control {
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding: 0 15px;
    border: 2px solid #00b0f0;
    outline: 0 !important;
    border-radius: 0;
}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 40px;
  margin    : 0;
  padding   : 0;
  font-size : 20px;
  opacity   : 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -40px;
  line-height  : 24px;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin           : 8px 12px 2px 8px;
  border           : 2px solid rgb(0,176,240);
  border-radius    : 0;
  background       : rgb(255,255,255);
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
  vertical-align   : bottom;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
}
input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 24px;
  color       : rgb(255,102,255);
  font-size   : 30px;
  line-height : 16px;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(255,102,255);
  font-weight : bold;
}
input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 12px;
  height           : 12px;
  margin           : 2px;
  border           : 1px solid rgb255,102,255);
  border-radius    : 2px;
  background       : rgb(255,102,255);
  background-image :    -moz-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :     -ms-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :      -o-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image : -webkit-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :         linear-gradient(rgb255,102,255),rgb255,102,255));
}
input[type=checkbox]:not(old) + label.im-label-sm,
input[type=radio ]:not(old) + label.im-label-sm {
    display: inline-block;
    margin-left: 0px;
    line-height: 10px;
}
.im-label-sm {
  font-size: 14px;
  line-height: 1.3;
}
.editable-info .editable-field{
  width: 100%;
  border: 1px solid;
  margin: 5px auto;
}
.editable-info .btn {
  min-width: 100px;
  max-width: 100%;
}
.editable-info .editable-field > div {
  width: 49%;
  padding: 5px 10px;
  display: inline-block;
}
.editable-info .editable-field > div:first-child {
  border-right: 1px solid;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
.editable-info .editable-field > div:last-child {
  text-align: left;
}
/*POPUP FORMS*/

.ui-widget-content .form-group {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.form-group img {
  max-width: 200px;
  display: block;
  margin: auto;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  background-color: rgba(0,176,240,1);
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid rgba(0,176,240,1);
  border-radius: 0;
  letter-spacing: 1px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}
.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.inputfile-2 + label {
  color: #fff;
  border: 2px solid rgba(0,176,240,1);
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #fff;    
  background-color: rgba(0,176,240,0.8);
}
.input-group-addon {
  height: 45px;
  font-size: 16px;
  line-height: 41px;
  padding: 0 15px;
  border: 2px solid #00b0f0;
  background: #00b0f0;
  outline: 0 !important;
  border-radius: 0;
  color: #fff;
}
.ui-dialog {
  z-index: 999999;
}
/*POSITION SPACES SIZES*/
.im-full-width {
  width: 100% !important;
}
section {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
}
.im-left {
  text-align: left;
}
.im-right {
  text-align: right;
}
.im-center {
  text-align: center;
}
label.im-center {
  text-align: center !important;
}
label.im-left {
  text-align: left !important;
}
label.im-right {
  text-align: right !important;
}
.big-padding {
  padding-top: 100px;
  padding-bottom: 80px;
}
.small-padding {
  padding-top: 50px;
  padding-bottom: 30px;
}
.ico-img img {
  max-width: 100%;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.no-padding {
    padding: 0 !important;
  }
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0  !important;
}
.no-margin-bottom {
  margin-bottom: 0  !important;
}
.margin-bottom-70 {
  margin-bottom: 70px  !important;
}
.margin-top-70 {
  margin-top: 70px  !important;
}
.im-btn {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 0;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.im-btn.im-left {
  float: left;
}
.im-btn.im-right {
  float: right;
}
.full-btn {
  width: 100%;
}
.parallax-window {
  min-height: 1px;
  background: transparent;
  overflow: hidden;
}
.separator-line {
  width: 100%;
  height: 1px;
}
/*TYPOGRAPHY*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 700;
}
h1, .h1 {
  font-size: 50px;
  line-height: 64px;
}
h2, .h2 {
  font-size: 35px;
  line-height: 50px;
}
h3, .h3 {
  font-size: 30px;
  line-height: 40px;
}
h4, .h4 {
  font-size: 25px;
  line-height: 35px;
}
h5, .h5 {
  font-size: 20px;
  line-height: 28px;
}
h6, .h6 {
  font-size: 18px;
  line-height: 26px;
}
/*COLORS*/
a {
  color: #2e2e2e;
}
a:hover,
a:focus {
  color: #000;
}
.im-white,
.im-white p,
.im-white h1,
.im-white h2,
.im-white h3,
.im-white h4,
.im-white h5,
.im-white h6,
.im-white ul,
.im-white li,
.im-white span {
  color: #fff;
}
.im-pink,
.im-list-pink li:before,
.ui-widget-content a.im-pink  {
  color: rgba(255,102,255,1);
}
.im-lblue,
.im-list-lblue li:before,
.ui-widget-content a.im-lblue  {
  color: rgba(0,176,240,1);
}
.im-blue,
.im-list-blue li:before,
.ui-widget-content a.im-blue  {
  color: rgba(0,32,96,1);
}
.im-lgreen {
  color: rgba(0,255,0,1);
}
.bg-pink {
  background-color: rgba(255,102,255,1);
}
.bg-lblue {
  background-color: rgba(0,176,240,1);
}
.bg-blue {
  background-color: rgba(0,32,96,1);
}
.bg-grey {
  background-color: #f9f9f9;
}
.bg-dgrey {
  background-color: #ccc;
}
.bg-teal {
  background-color: #69d8ff;
}
.bg-white {
  background-color: #fff;
}
.white-btn {
  background-color: transparent;
  color: #fff;
}
.white-btn:hover,
.white-btn:focus {
  background-color: rgba(255,255,255,0.8);
  border-color: rgba(255,255,255,1);
}
.bg-pink .white-btn:hover,
.bg-pink .white-btn:focus {
  color: rgba(255,102,255,1);
}
.bg-lblue .white-btn:hover,
.bg-lblue .white-btn:focus {
  color: rgba(0,176,240,1);
}
.bg-blue .white-btn:hover,
.bg-blue .white-btn:focus {
  color: rgba(0,32,96,1);
}
.flat-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  outline: none !important;
}
.empty-btn {
  background-color: transparent;
  color: #000;
  border-color: rgba(0,0,0,1);
}
.pink-btn {
  background-color: rgba(255,102,255,1);
  color: #fff;
  border-color: rgba(255,102,255,1);
}
.pink-btn:hover,
.pink-btn:focus {
  background-color: rgba(255,102,255,0.8);
  color: #fff;
}
.empty-btn.im-border-btn:hover,
.empty-btn.im-border-btn:focus,
.empty-btn.im-border-btn.im-active {
  background-color: rgba(0,0,0,1);
  color: #fff;
  border-color: rgba(0,0,0,1);
}
.pink-btn.im-border-btn:hover,
.pink-btn.im-border-btn:focus,
.pink-btn.im-border-btn.im-active {
  background-color: transparent;
  color: rgba(255,102,255,1);
  border-color: rgba(255,102,255,1);
}
.lblue-btn {
  background-color: rgba(0,176,240,1);
  color: #fff;
  border-color: rgba(0,176,240,1);
}
.lblue-btn:hover,
.lblue-btn:focus {
  background-color: rgba(0,176,240,0.8);
  color: #fff;
}
.lblue-btn.im-border-btn:hover,
.lblue-btn.im-border-btn:focus,
.lblue-btn.im-border-btn.im-active {
  background-color: transparent;
  color: rgba(0,176,240,1);
  border-color: rgba(0,176,240,1);
}
.blue-btn {
  background-color: rgba(0,32,96,1);
  color: #fff;
  border-color: rgba(0,32,96,1);
}
.blue-btn:hover,
.blue-btn:focus {
  background-color: rgba(0,32,96,0.8);
  color: #fff;
}
.blue-btn.im-border-btn:hover,
.blue-btn.im-border-btn:focus,
.blue-btn.im-border-btn.im-active {
  background-color: transparent;
  color: rgba(0,32,96,1);
  border-color: rgba(0,32,96,1);
}
.im-btn-info {
  position: absolute;
  right: 0;
  font-size: 13px;
  text-align: center;
  top: 45px;
  line-height: 1;
  padding: 5px 10px;
  background-color: rgba(255,102,255,.8);
  border: 1px solid #fff;
  display: none;
  z-index: 100
}
.im-btn-info:before {
  content: '';
  position: absolute;
  top: -10px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(255,102,255,1);
}
.btn.im-btn:hover .im-btn-info {
  display: block;
} 
/*NAVIGATION*/
#main-navigation {
  width: 100%;
  margin: auto;
  z-index: 9999;
  position: absolute;
}
#main-navigation.navbar-custom-fixed {
  position: fixed;
  background-color: rgba(255,255,255,.95) !important;
}
.left-nav {
  float: left;
}
.right-nav {
  float: right;
}
.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  margin: auto;
  width: 230px;
}
.logo img {
  max-width: 200px;
  margin: 0;
}
#main-navigation a {
  display: inline-block;
  line-height: 40px;
  margin: 20px 0;
  padding: 0 15px;
  position: relative;
  font-size: 18px;
}
#main-navigation a.menu-item {  
  color: #b9b9b9;
  cursor: pointer;
}
#main-navigation a.menu-btn {  
  color: #b9b9b9;
  line-height: 38px;
  border: 2px solid #b9b9b9;
}
#main-navigation a.menu-item:hover,
#main-navigation a.menu-item:focus,
#main-navigation a.menu-item.im-active {
  color: #333;
}
#main-navigation a.menu-btn:hover,
#main-navigation a.menu-btn:focus,
#main-navigation a.menu-btn.im-active {
  color: #333;  
  border: 2px solid #333;
}
#main-navigation a.menu-item:before {
  content: ' ';
  position: absolute;
  width: auto;
  height: 2px;
  left: 15px;
  right: 15px;
  bottom: 0;
  margin: auto;
  display: none;  
  background: #b9b9b9;
}
#main-navigation a.menu-item.im-active:before,
#main-navigation a.menu-item:hover:before {
  display: block;  
  background: #333;
}
/*PUBLICK TITLE SECTION*/
.title-section {
  padding-top: 82px;
}
.title-section > .parallax-window {
  position: relative;
}
.title-section > .parallax-window:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: rgba(0,0,0,.5);
}
.title-section > .parallax-window .im-title {
  margin-top: 130px;
  margin-bottom: 130px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title-section > .parallax-window .im-title h1 {
  margin: 0;
  position: relative;
  font-weight: bold;
  line-height: 1;
}
.title-section > .parallax-window .im-title h1:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 5px;
  width: 100px;
  background: #fff;
  display: block;
}
/*ADMIN TITLE SECTION*/
.admin-title-section {  
  border-top: 2px solid #00b0f0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.admin-title-section.bg-blue {
  background-color: #00b0f0;
}
.admin-title-section a{
  padding: 12px 5px;
  position: relative;
  display: inline-block;
  color: #fff;
}
.admin-title-section a:hover,
.admin-title-section a.im-active {
  color: #002060;
}
/*ACORDIANS*/
.im-accordion {
  display: none;
}
.im-toggle-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px 20px;
  position: relative;
}
.im-toggle-menu-item {
  width: 100%;
  padding: 15px 30px 15px 20px;
  border-bottom: 1px solid #efefef;
  line-height: 1;
  float: left;
  margin-bottom: 0;
  position: relative;
}
.im-toggle-menu-item:before,
.im-toggle-menu-item.im-open:before,
.im-accordion-menu-item:before,
.im-accordion-menu-item.im-open:before {
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 10px;
    margin: auto;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    color: #000;
    font-weight: normal;
}
.im-accordion-menu-item:before,
.im-accordion-menu-item.im-open:before {
  top: 20px;
  bottom: 20px;
  right: 20px;
  color: #fff !important;
}
.im-toggle-menu-item:before,
.im-accordion-menu-item:before {
  content: '+';
}
.im-toggle-menu-item.im-open {
  color: #fff;
}
.im-toggle-menu-item.im-open:before,
.im-accordion-menu-item.im-open:before {
  content: '-';
  color: #fff;
}
#MainContent .im-accordion-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  position: relative;
}
#MainContent .im-accordion-menu-item > a {  
  font-weight: normal;
  margin-bottom: 0;
}
.hide-icon:before {
  display: none !important;
}
/*FORM*/
/*POPUP LOGIN*/
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-top: 6px;
  margin-left: 20px;
}
.form-control {
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    padding: 0 15px;
    border: 2px solid #00b0f0;
    outline: 0 !important;
    border-radius: 0;
}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 40px;
  margin    : 0;
  padding   : 0;
  font-size : 20px;
  opacity   : 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -40px;
  line-height  : 24px;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 20px;
  height           : 20px;
  margin           : 8px 12px 2px 8px;
  border           : 2px solid rgb(0,176,240);
  border-radius    : 0;
  background       : rgb(255,255,255);
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
  vertical-align   : bottom;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :     -ms-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :      -o-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image : -webkit-linear-gradient(rgb(255,255,255),rgb(255,255,255));
  background-image :         linear-gradient(rgb(255,255,255),rgb(255,255,255));
}
input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 24px;
  color       : rgb(255,102,255);
  font-size   : 30px;
  line-height : 16px;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(255,102,255);
  font-weight : bold;
}
input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 12px;
  height           : 12px;
  margin           : 2px;
  border           : 1px solid rgb255,102,255);
  border-radius    : 2px;
  background       : rgb(255,102,255);
  background-image :    -moz-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :     -ms-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :      -o-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image : -webkit-linear-gradient(rgb255,102,255),rgb255,102,255));
  background-image :         linear-gradient(rgb255,102,255),rgb255,102,255));
}
input[type=checkbox]:not(old) + label.im-label-sm,
input[type=radio ]:not(old) + label.im-label-sm {
    display: inline-block;
    margin-left: 0px;
    line-height: 10px;
}
.im-label-sm {
  font-size: 14px;
  line-height: 1.3;
}
.editable-info .editable-field{
  width: 100%;
  border: 1px solid;
  margin: 5px auto;
}
.editable-info .btn {
  min-width: 100px;
  max-width: 100%;
}
.editable-info .editable-field > div {
  width: 49%;
  padding: 5px 10px;
  display: inline-block;
}
.editable-info .editable-field > div:first-child {
  border-right: 1px solid;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
.editable-info .editable-field > div:last-child {
  text-align: left;
}
/*POPUP FORMS*/

.ui-widget-content .form-group {
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.form-group img {
  max-width: 200px;
  display: block;
  margin: auto;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  background-color: rgba(0,176,240,1);
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid rgba(0,176,240,1);
  border-radius: 0;
  letter-spacing: 1px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}
.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.inputfile-2 + label {
  color: #fff;
  border: 2px solid rgba(0,176,240,1);
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #fff;    
  background-color: rgba(0,176,240,0.8);
}
.input-group-addon {
  height: 45px;
  font-size: 16px;
  line-height: 41px;
  padding: 0 15px;
  border: 2px solid #00b0f0;
  background: #00b0f0;
  outline: 0 !important;
  border-radius: 0;
  color: #fff;
}
.ui-dialog {
  z-index: 999999;
}
.line-form label {
  color: #002060;
}
.line-form label span {
  font-weight: 700;
  color: #ff66ff;
}
.line-form label{
  width: 100%;
  font-weight: 400;
}
.line-form input[type=text], 
.line-form input[type=email],
.line-form textarea {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 40px;
  height: 40px;
  outline: 0 !important;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #002060;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
}
.line-form textarea {
  min-height: 80px;
}
.line-form input[type=text]:hover, 
.line-form input[type=email]:hover,
.line-form input[type=text]:focus, 
.line-form input[type=email]:focus,
.line-form textarea:hover,
.line-form textarea:focus{
  border-bottom: 2px solid #ff66ff;
}
.line-form input {
  color: #00b0f0;
}
.search {
  width: 100%;
  position: relative;
  float: left;
}
.search input {
  width: 100%;
  float: left;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 45px;
  height: 45px;
  border: 2px solid #ff66ff;
  outline: 0 !important;
  border-radius: 0;
  padding-right: 110px;
}
.search button{
  text-transform: uppercase;
  position: absolute;
  right: 0;
}
/*UI DIALOG*/
.ui-widget.ui-widget-content {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.ui-widget-header {
  background-color: rgba(0,176,240,1);
  color:#fff;
  border: 0;
  border-radius: 0;
  padding: 10px 15px;
  margin-bottom: 15px;
}
.ui-dialog .ui-dialog-titlebar-close {
  right: 15px;
  background: #fff;
  background-image: none;
  border: none;
  text-align: center;
}
.ui-dialog-titlebar-close:before {
  content: '\f00d';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: rgba(0,176,240,1);
  font-size: 18px;
  padding-right: 0px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 20px;
  text-align: center;
  bottom: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
    width: 100% !important;
}
.ui-dialog form {
  padding: 15px;
  float: left;
  width: 100%;
}
.ui-dialog-buttonset .im-btn{
  padding: 7px 10px;
}
.ui-dialog .ui-dialog-buttonpane {
  padding: 5px 15px;
  float: left;
  width: 100%;
  margin: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  padding: 0;
  width: 100%;
  /*float: left;*/
  text-align: right;
}
.im-label {
  width: 100%;
  text-align: left;
  padding: 10px;
}
/*SINGLE PAGE FORM*/
.single-page-form {
  max-width: 600px;
  margin: auto;
  padding: 15px;
  float: none;
}
/*BLOG*/
#blog-grid {
  width: 73%;
  float: left;
  padding-right: 30px;
}
#blog-sidebar {
  width: 27%;
  float: left;
}
article .blog-expert-content {
  padding: 45px 45px 15px 45px;
}
article .blog-expert-content .blog-expert {
  font-size: 15px;
}
.blog-widget {
  width: 100%;
  padding: 15px;
  background: #efefef;
  margin-bottom: 30px;
  position: relative;
}
.blog-widget .widget-title {
  position: relative;
}
.blog-widget .widget-title h4{
  margin-bottom: 30px;
}
.blog-widget .widget-title:before {
  content: '';
  width: 60px;
  height: 5px;
  position: absolute;
  left: 0;
  bottom:-10px;  
  background: rgba(255,102,255,1);
}
.tag-container ul li {
  display: inline-block;
}
.tag-btn {
  margin-bottom: 5px;
  font-size: 12px;
  padding: 5px 10px;
}
.featured-image {
  padding-top: 30px;
}
.featured-image img {
  max-width: 100%;
  width: 100%;
}
#blog-info {
  padding: 15px 20px 10px 15px;
  background: #efefef;
  margin:30px auto;
  position: relative;
  width: 100%;
}
#related-posts article {
  margin-bottom: 30px;
  min-height: 100%;
}
article .overlay-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
  text-align: center;
  margin:auto;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
 background: rgba(0,0,0,.8);
 display: none;
}
article .overlay-link h4 {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
article:hover .overlay-link{
  display: block;
}
.im-blog-col {
  width: 20%;
  padding: 15px;
  float: left;
}
.im-blog-col article {
  border: 1px solid #efefef;
}
article {
  position: relative;
  width: 100%;
  background: #fff;
  min-height: 600px;
}
article .blog-expert-category {
  position: absolute;
  top: 15px;
  left: 15px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
}
article .blog-expert-category:hover {
  color: #fff;
  background: #00b0f0;
}
article a:hover {
  color: #00b0f0;
}
article .bolg-image-container {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
}
article .blog-image {
  width: 100%;
  position: relative;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 -ms-transition: all 0.4s ease;
 transition: all 0.4s ease;
 -ms-transform: scale(1); /* IE 9 */
 -webkit-transform: scale(1); /* Safari */
  transform: scale(1);
}
article .blog-image:hover {
  -ms-transform: scale(1.2); /* IE 9 */
 -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}
article .blog-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}
article .blog-footer {
  width: 100%;
  padding: 15px 45px;
  margin-bottom: 0;
  border-top: 1px solid #efefef;
}
article .blog-footer i {
  margin-right: 15px;
}
article .blog-expert-content .blog-expert {
  font-size: 20px;
}

/*BOLOG CUSTOM LAYOUT*/
@media screen and (min-width: 1200px) {
  #blog-page .im-blog-col:nth-child(1),
  #blog-page .im-blog-col:nth-child(2),
  #blog-page .im-blog-col:nth-child(3),
  #blog-page .im-blog-col:nth-child(4) {
    width: 25%;
  }
  #blog-page .im-blog-col:nth-child(1) article,
  #blog-page .im-blog-col:nth-child(2) article,
  #blog-page .im-blog-col:nth-child(3) article,
  #blog-page .im-blog-col:nth-child(4) article {
    min-height: 800px;
  }
  #blog-page .im-blog-col:nth-child(1) article .blog-footer,
  #blog-page .im-blog-col:nth-child(2) article .blog-footer,
  #blog-page .im-blog-col:nth-child(3) article .blog-footer,
  #blog-page .im-blog-col:nth-child(4) article .blog-footer {
    position: absolute;
    bottom: 0;
  }
  #blog-page .im-blog-col:nth-child(2) article .bolg-image-container {
    height: 100px;
  }
  #blog-page .im-blog-col:nth-child(2) article .bolg-image-container .blog-image {
    display: none;
  }
  #blog-page .im-blog-col:nth-child(2) article .white-btn {
    color: #000;
    border-color: #000;
  }
  #blog-page .im-blog-col:nth-child(3) article .blog-footer,
  #blog-page .im-blog-col:nth-child(3) article .blog-expert-content {
    display: none;
  }
  #blog-page .im-blog-col:nth-child(3) article .bolg-image-container,
  #blog-page .im-blog-col:nth-child(3) article .blog-image {
    height: 798px;
  }
}
/*PRICING TABLES*/
.pricing-table {
  width: 100%;
  position: relative;
  border-top: 10px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 10px solid;
  overflow: hidden;
}
.pricing-table h3,
.pricing-table p {
  margin-bottom: 0;
}
.pricing-table-header {
  padding:50px 10px;
  border-bottom: 1px solid;
  background: #fff;
}
.pricing-table-header h3 {
  font-size: 30px;
}
.pricing-table-body {
  padding:70px 10px;
  background: #fff;
}
.pricing-table-footer {
  padding:40px 10px;
  border-top: 1px solid;
  background: #fff;
}
.pricing-table.im-blue,
.badge-cont.bg-blue {
  box-shadow: 6px 6px 0 rgba(0,32,96,.8);
}
.pricing-table.im-lblue,
.badge-cont.bg-lblue {
  box-shadow: 6px 6px 0 rgba(0,176,240,.8);
}
.pricing-table.im-pink,
.badge-cont.bg-pink {
  box-shadow: 6px 6px 0 rgba(255,102,255,.8);
}
.pricing-table.im-blue .pricing-table-header {
  box-shadow: 2px 2px 6px rgba(0,32,96,.7);
}
.pricing-table.im-blue .pricing-table-footer {
  box-shadow: 2px -2px 6px rgba(0,32,96,.7);
}
.pricing-table.im-lblue .pricing-table-header {
  box-shadow: 2px 2px 6px rgba(0,176,240,.7);
}
.pricing-table.im-lblue .pricing-table-footer {
  box-shadow: 2px -2px 6px rgba(0,176,240,.7);
}
.pricing-table.im-pink .pricing-table-header {
  box-shadow: 2px 2px 6px rgba(255,102,255,.7);
}
.pricing-table.im-pink .pricing-table-footer {
  box-shadow: 2px -2px 6px rgba(255,102,255,.7);
}
.pricing-table-price{
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}
.pricing-table-price small {
  font-size: 25px;
}
.pricing-table .nav-tabs>li{
  min-width: 50%;
} 
.pricing-single .pricing-table-footer {
  padding: 0;
}
.pricing-single .nav-tabs>li>a {
  padding: 20px 10px;    
  font-weight: bold;
  color: inherit;
}
.pricing-single .nav-tabs>li:first-child>a {
  border-left: 0;
}
.pricing-single .nav-tabs>li:last-child>a {
  border-right: 0;
}
.pricing-single .nav-tabs>li.active>a,
.pricing-single .nav-tabs>li.active>a:focus,
.pricing-single .nav-tabs>li.active>a:hover {
  color: #fff;
  border-radius: 0;
}
.pricing-single.im-blue .nav-tabs>li.active>a,
.pricing-single.im-blue .nav-tabs>li.active>a:focus,
.pricing-single.im-blue .nav-tabs>li.active>a:hover {
  background: rgba(0,32,96,1);
  background-color: rgba(0,32,96,1);
  border-color: rgba(0,32,96,1);
  border-bottom-color: rgba(0,32,96,1);
}
.pricing-single.im-lblue .nav-tabs>li.active>a,
.pricing-single.im-lblue .nav-tabs>li.active>a:focus,
.pricing-single.im-lblue .nav-tabs>li.active>a:hover {
  background: rgba(0,176,240,1);
  background-color: rgba(0,176,240,1);
  border-color: rgba(0,176,240,1);
  border-bottom-color: rgba(0,176,240,1);
}
.pricing-single.im-pink .nav-tabs>li.active>a,
.pricing-single.im-pink .nav-tabs>li.active>a:focus,
.pricing-single.im-pink .nav-tabs>li.active>a:hover {
  background: rgba(255,102,255,1);
  background-color: rgba(255,102,255,1);
  border-color: rgba(255,102,255,1);
  border-bottom-color: rgba(255,102,255,1);
}
.pricing-single .tab-content {
  background: #fff;
  padding: 40px 15px;
}
.badge-cont {
  width: 150px;
  height: 150px;
  margin: auto;
  padding: 30px;
  margin-bottom: 20px;
}
.badge-cont img {
  max-width: 100%;
}
#plan-navigation,
.pricing-plan-1,
.pricing-plan-2,
.pricing-plan-3 {
  display: none;
}
/*FOOTER*/
footer {
  /*background-color: #f9f9f9;*/
  width: 100%;
  height: auto;
  position: relative;
  float: left;
}
#footer-top.big-padding {
  padding-bottom: 20px;
}
#footer-bottom {
  border-top: 10px solid #fff;
  padding: 15px 0;
  /*color: #00b0f0;*/
   background-color: #f9f9f9;

}
