body {
    margin-top: 100px;
    background-color: #fff;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
#wrapper {
    padding-left: 0;
}
#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    float: left;
}
.huge {
    font-size: 50px;
    line-height: normal;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 0;
    }
}

/* Top Navigation */
.top-nav {
    padding: 0 15px;
}
.top-nav>li {
    display: inline-block;
    float: left;
}
.top-nav>li>a {
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 20px;
    color: #fff;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #ff66ff;
}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}
.navbar-brand img {
    max-width: 100%;
}
/* Side Navigation */
.side-nav>li>a,
.side-nav>li>ul>li>a {
    font-size: 15px;
    line-height: 22px;
    font-weight: normal !important;
}
.nav>li>h5 {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}
#info-inside {
    padding: 15px;
}
#profile-image {
    /*background: #fff;*/
}
#profile-image img {
    max-width: 100%;
    margin-bottom: 0;
}
#collapse-sidebar {
    display: none;
}
.user-practice {
    display: block;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 70px;
    display: block;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media(min-width:768px) {
    #collapse-sidebar {
        width: 40px;
        height: 40px;
        position: fixed;
        left: 175px;
        bottom: 5px;
        right: 0;
        color: #fff;
        display: block;
    }
    #collapse-sidebar:before {
        position: absolute;
        content: '\f100';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 30px;
        text-align: center;
        line-height: 38px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }    
    #wrapper.im-expande #collapse-sidebar:before{
        content: '\f101';
    }
    .side-nav {
        position: fixed;
        top: 55px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #002060;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    #wrapper.im-expande .side-nav{
        left: 55px;
        overflow:visible;
    }
    #wrapper.im-expande #collapse-sidebar {
      left: 5px
    }
    #wrapper.im-expande {
        padding-left: 55px;
    }
    .side-nav>li>a {
        width: 225px;
    }
    #wrapper.im-expande .side-nav>li>a {
      width: 55px;
      margin-left: 170px;
      font-size: 0;
      line-height: 15px;
    }
    #wrapper.im-expande .side-nav>li>a i:first-child {
      font-size: 15px;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #00b0f0 !important;
    }
    #wrapper.im-expande .side-nav>li>ul{
      position: absolute;
      left: 230px;
      top: 0;
      background: #002060;
    }
    #wrapper.im-expande .side-nav>li>ul>li>a {
      padding: 10px;
      /*margin-left: 170px;*/
    }
    ul.side-nav>li.im-open>a {
      background-color: #00b0f0 !important;
    }
    ul.side-nav>li>ul>li.im-open>a {
      background-color: #fff !important;
      color: #00b0f0 !important;
      border: 2px solid #00b0f0;
    }

}
.navbar-form .form-group input {
    height: 34px;
    line-height: 34px;
    border: 0;
    margin-top: 3px;
}
.navbar-form .form-group .im-btn {
    float: right;
    line-height: 32px;
}
.side-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 0;
}
.side-nav::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.side-nav::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                       40% 0%,
                                       75% 84%,
                                       from(#00b0f0),
                                       to(#00b0f0),
                                       color-stop(.6,#00b0f0))
}
.side-nav>li>ul {
    padding: 0;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}
.side-nav>li>ul>li>a:hover {
    color: #fff;
}
.navbar-inverse {
    background-color: #002060;
    border-color: #002060;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #00b0f0 ;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: #fff;
    height: auto;
}
/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
#page-wrapper {
    min-height: 85vh;
}
/*ADMIN BOXES*/
.personal-image {
  float: left;
  width: 200px;
  text-align: center;
  background: #fff;
  margin: 0 30px;
}
.personal-image img {
  max-width: 100%;
  margin-bottom: 0;
}
.prfile-info {
  float: left;
}
.prfile-info p,
.box-controles ul {
  margin-bottom: 0;
}
.box-controles {
  float: right;
}
.box-header {
  float: left;
  width: 100%;
  padding: 15px;
  background-color: #efefef;
  margin-bottom: 15px;
}
.box-content {
  float: left;
  width: 100%;
  padding: 15px 15px 40px 15px;
}
.box-title {
  float: left;
}
.box-title h3 {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: uppercase;
}
.box-controles ul li {
  display: inline-block;
}
.box-controles ul li > div {
  padding: 0 ;
  margin: 0 !important;
  min-width: 40px !important;
  font-size: 20px;
  line-height: 36px;
  position: relative;
}
.im-btn-small {
  display: inline-block;
  padding: 0 !important;
  margin: 2px !important;
  min-width: 40px !important;
  font-size: 20px;
  line-height: 36px;
  position: relative;
  float: left;
}
#PracticeStaff .col-sm-4{
  padding-bottom: 15px;
}
/*TABLE AND PAGINATION*/
.table > thead  {
  cursor:pointer;
}
.last-col,
#actions {
  min-width: 90px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: #fff;
  background-color: #00b0f0;
  border-color: #00b0f0;
}
.pagination>li>a, .pagination>li>span {
  color: #00b0f0;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination-total {
  background: #ff66ff ;
  color: #fff;
  padding: 8px 16px;
  float: right;
}
/*FORM*/
label {
  color: #002060;
}
label span {
  font-weight: 700;
  color: #ff66ff;
}
.form-box label{
  width: 100%;
  font-weight: normal;    
}
.form-box {
  border: 2px solid #efefef;
  width: 100%;
  float: left;
}
.form-box .col-sm-6,
.form-box .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.form-box .btn {
  min-width: 160px;
  margin-bottom: 0;
}
.form-box .image-wrapper,
.form-box .image-wrapper img {
  max-width: 200px;
}
textarea {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 40px;
  outline: 0 !important;
  border: 2px solid #00b0f0;
  padding:5px 15px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  font-weight: 400;
  min-height: auto;
}
label input[type=text], 
label input[type=email],
label input[type=password] {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 40px;
  height: 40px;
  outline: 0 !important;
  border: 2px solid #00b0f0;
  padding:5px 15px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
}
label input[type=text]:hover, 
label input[type=email]:hover,
label input[type=text]:focus, 
label input[type=email]:focus,
label input[type=password]:hover, 
label input[type=password]:focus{
  border: 2px solid #ff66ff;
}
label input {
  color: #00b0f0;
}
.search {
    width: 100%;
    position: relative;
    float: left;
}
.search input {
    width: 200px;
    float: left;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 45px;
    height: 45px;
    border: 2px solid #ff66ff;
    outline: 0 !important;
    border-radius: 0;
}
.search button{
  float: left;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
/*MY KNOWLADGE BOX*/
.box-grid a .grid-col-content{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.box-grid a:hover .grid-col-content{
  color: #fff;
}
.box-grid a.im-lblue:hover .grid-col-content{
  background-color: rgba(0,176,240,1);
}
.box-grid .col-md-6:nth-child(1) a,
.box-grid .col-md-6:nth-child(4) a,
.box-grid .col-md-6:nth-child(7) a{
  color: rgba(0,32,96,1) !important;
}
.box-grid .col-md-6:nth-child(3) a,
.box-grid .col-md-6:nth-child(6) a,
.box-grid .col-md-6:nth-child(9) a{
  color: rgba(255,102,255,1) !important;
}
.box-grid .col-md-6:nth-child(2) a,
.box-grid .col-md-6:nth-child(5) a,
.box-grid .col-md-6:nth-child(8) a{
  color: #00b0f0 !important;
}
.box-grid a.im-blue:hover .grid-col-content,
.box-grid .col-md-6:nth-child(1):hover a .grid-col-content,
.box-grid .col-md-6:nth-child(4):hover a .grid-col-content,
.box-grid .col-md-6:nth-child(7):hover a .grid-col-content{
  background-color: rgba(0,32,96,1) !important;
}
.box-grid a.im-pink:hover .grid-col-content,
.box-grid .col-md-6:nth-child(3):hover a .grid-col-content,
.box-grid .col-md-6:nth-child(6):hover a .grid-col-content,
.box-grid .col-md-6:nth-child(9):hover a .grid-col-content{
  background-color: rgba(255,102,255,1) !important;
}
.box-grid a.im-lgreen:hover .grid-col-content {
  background-color: rgba(0,255,0,1) ;
}
.box-grid .col-md-6:nth-child(2):hover a .grid-col-content,
.box-grid .col-md-6:nth-child(5):hover a .grid-col-content,
.box-grid .col-md-6:nth-child(8):hover a .grid-col-content{
  background-color: #00b0f0 !important;
}
.box-grid .grid-col-content {
  padding: 50px 15px;
  text-align: center;
  margin: 15px auto;
}
.box-grid .grid-col-content.no-split {
  padding: 15px 15px;
}
.box-grid .grid-col-content.no-split span {
  font-weight: normal;
}
.box-grid .grid-col-content.no-split.im-left {
  text-align: left;
}
.box-grid .grid-col-content.no-split.im-right {
  text-align: right;
}

/*SITE MAP*/
.site-map-btn {
    width: 190px;
    height: 64px;
    background: #00b0f0;
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 10px #002060;    
}
.site-map-btn-left {
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #fff;
    border: 4px solid #00ff00;
    box-shadow: 1px 1px 2px #002060;
    border-radius: 50px;
    margin: 5px;
    line-height: 44px;
    font-size: 18px;
    font-weight: bold;
}
.locked .site-map-btn-left {
    border: 4px solid red;
}
.site-map-btn-right{
    float: right;
    margin: 5px;
    width: 115px;
    text-align: left;
    padding-top: 10px;
}
.site-map-btn-left,
.site-map-btn-right,
.site-map-btn {    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -ms-transform: translate(0px, 0px); /* IE 9 */
    -webkit-transform: translate(0px, 0px); /* Safari */
    transform: translate(0px, 0px);
}
.site-map-btn-right strong {
    font-size: 13px;
    line-height: 15px;
    display: block;
}
.site-map-btn-right span {
    font-size: 11px;
    line-height: 13px;
    display: block;
}
.col-1-5 {
    width: 20%;
    float: left;
    padding:5px;
    text-align: left;
}
.col-1-5 ul {
    padding-left: 15px;
    position: relative;
}
.col-1-5 ul li {
    position: relative;
}
.col-1-5 ul li .site-map-btn {
    border:0;
    background: transparent;
    box-shadow: none;
}
.col-1-5 ul:before {
    content: '';
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 9px;
    background: #00b0f0
}
.col-1-5  ul li:before {
    content: '';
    width: 10px;
    height: 4px;
    position: absolute;
    left: -2px;
    top: 30px;
    background: #00b0f0;
}
a:hover .site-map-btn {
    background: #ff66ff;
}
a:hover .site-map-btn-right {
    -ms-transform: translate(-55px, 0px); /* IE 9 */
    -webkit-transform: translate(-55px, 0px); /* Safari */
    transform: translate(-55px, 0px);
}
a:hover .site-map-btn-left {
    -ms-transform: translate(125px, 0px); /* IE 9 */
    -webkit-transform: translate(125px, 0px); /* Safari */
    transform: translate(125px, 0px);
}
@media screen and (max-width: 1024px) {
    .col-1-5 {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    #siteMap .modal-dialog {
        width: 1024px;
        margin: 30px auto;
    }
}
ul.accordion .inner  {
  display: none;
  float: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 125px;
  margin: auto;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 0;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
                                       40% 0%,
                                       75% 84%,
                                       from(#00b0f0),
                                       to(#00b0f0),
                                       color-stop(.6,#00b0f0))
}
ul.accordion {
  position: relative;
}
ul.accordion > li {
  margin-bottom: 5px;
  width: 100%;
  height: 105px;
  display: block;
}
ul.accordion > li > a.toggle {
  width: 120px;
  height: 105px;
  display: block;
  color: #fefefe;
  padding: 15px;
  position: absolute;
  text-align: center;
  left: 0;
}
ul.accordion > li > a.toggle > i {
  font-size: 50px;
  display: block;
}
ul.accordion > li > a.toggle > span {

}
ul.accordion > li > a.toggle:hover,
ul.accordion > li > a.toggle.im-active {
  color: #00b0f0 !important;
  background-color: #efefef;
}

/*EDITOR*/
.fr-popup.fr-active {
  /*z-index: 99999999999;*/
}
/*FOOTER*/
#admin-footer .footer-col{
  background-color: #333;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin:auto !important;
}
#admin-footer img {
  max-width: 100%;
  max-height: 30px;
  margin-bottom: 0;
}